            <article class="col-3 text-center p-4">
                <div class="title">
                    <div>
                        <h3 class="">{{username}}</h3>
                        <a href="{{song_url}}" target="_blank" class="">Song Title</a>
                    </div>
                    <div>
                        <img src="{{song_thumbnail}}" alt="album thumbnail" class="thumb">
                    </div>
                    <div>
                        <p>{{vote_count}}</p>
                        <a href="{{post_url}}">Comments()</a>
                    </div>
                </div>
            </article>