            <article class="col-12 col-md-6 col-lg-4 col-xl-3 text-center p-4">
                <div class="title">
                    <div>
                        <h3 class="redirect">
                            <a href="/u/{{user_id}}" class="p-2">{{user.username}}</a>
                        </h3>
                    </div>
                    <div>
                        {{{iframe}}}
                    </div>
                    <p class="post-title">
                    <a href="/post/{{id}}">{{title}}</a>
                    </p>
                    <div>
                        <p>{{vote_count}} Points
                            <img class="upvote-btn" src="/images/upvote.png" width="25" height="25" align="top"  id="{{id}}"></img>
                        <a>{{comments.length}} Comments</a>
                        </p>
                    </div>
                </div>
            </article>