            <article class="col-12 col-md-6 col-lg-3 text-center p-4">
                <div class="title">
                    <div>
                        <h3 class="">{{user.username}}</h3>
                        <a href="{{post_url}}" target="_blank" class="">{{title}}</a>
                    </div>
                    <div>
                        {{{iframe}}}
                    </div>
                    <div>
                        <p>{{vote_count}}</p>
                        <a href="/post/{{id}}">Comments</a>
                    </div>
                </div>
            </article>