<div class="vstack gap-3 align-items-stretch justify-content-center text-center">
    <h1 class="mt-4">
        {{username}}
    </h1>
        <button class="btn follow-btn fs-6 p-2 my-0" id="{{id}}">
            <img src="/images/follow.svg" width="25px" height="25px"></img>
                Follow
        </button>
    <div class="text-center my-3">
        <img src="/images/upPlay.svg" width="188">
    </div>
    <div class="d-flex justify-content-center">
        <div class="row w-50 text-center">
            <h2 class="col">Anthem{{anthem}}</h2>
            <h2 class="col">Followers({{follower_count}})</h2>
        </div>
    </div>
    <h2 class="text-center my-4">Favorites({{favorite_count}})</h2>
    <h2 class="text-center my-4">Posts</h2>
    <h2 class="text-center my-4">Likes</h2>
</div>